.title {
	font-weight: bold;
}

.subTitle {
	font-size: -1;
}

.menu ul li {
	margin-left: -10px;
	margin-bottom: 10px;
	list-style-image: url("/styles/default/images/sqe.gif");
	/* overrule in custom style */
}

.menu ul li a {
	text-decoration: none;
}

.events {
	height: 200px;
	width: 450px;
	resize: both;
	border: 1px solid gray;
	overflow: auto;
}

.table {
	width: 100%;
	border: 1px solid #f00;
}

.table .th {
	background-color: #f00;
	color: #fff;
	font-weight: bold;
	border-bottom: 1px dotted #f00;
}

.table .tr:nth-child(odd) {
	background-color: #eee;
}

.table .td {
	float: left;
	padding-left: 2%;
}

#left {
	position: relative;
	width: 49%;
}

#right {
	float: right;
	position: relative;
	width: 49%;
}

.icon{
	width:16px;
	height:16px;
	border:0;
}

.hr_info{
	text-align:left;
	size:1;
	width:97%;
}

#top {
	width: 97%;
	padding-left: 2.5em;
}

#topInfo {
	width: 20%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	float: right;
}

#topGauges {
	vertical-align: top;
	display: inline-block;
	padding: 0px;
}

.topGauge {
	margin: 0px;
	padding: 0px;
	width: 13.56em;
	height: 11em;
	display: inline-block;
}

#titleToday {
	width: 100%;
	text-align: center;
	font-weight: bold;
}

.my-jqplot-title {
    font-weight: bold;	
}