#filter {
	margin-top: 20px;
	padding: 5px;
    width: 200px;
    border: 1px solid #AAAAAA;
    display: block;
    overflow: hidden;
}
table.jqplot-table-legend-custom{
	width:800px;
}

.alert {
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    color: #C09853;
    margin-bottom: 18px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

#footer-middle {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}